# TestReport

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**app_upload_id** | **string** |  | 
**date** | **string** |  | 
**test_type** | **string** |  | 
**platform** | **string** |  | 
**stats** | [**\ZeC128\AppCenter\AppCenterApi\TestReportStats**](TestReportStats.md) |  | 
**id** | **string** |  | 
**schema_version** | **float** |  | 
**revision** | **float** |  | 
**features** | [**\ZeC128\AppCenter\AppCenterApi\TestReportFeatures[]**](TestReportFeatures.md) |  | 
**finished_device_snapshots** | **string[]** |  | 
**device_logs** | [**\ZeC128\AppCenter\AppCenterApi\TestReportDeviceLogs[]**](TestReportDeviceLogs.md) |  | 
**date_finished** | **string** |  | 
**error_message** | **string** |  | [optional] 
**snapshot_fatal_errors** | [**\ZeC128\AppCenter\AppCenterApi\TestReportSnapshotFatalErrors[]**](TestReportSnapshotFatalErrors.md) |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


